<h1>Listing Images</h1>

<p id="notice"><%= notice %></p>
<table>
<% @images.each do |image| %>
  <tr>
    <td><%= image.id %></td>
    <td><%= image.title %></td>
    <td>
       <%= link_to 'Show', image %>
       <%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %>
       <%= link_to 'Update resize width and height', edit_image_path(image) %>
       <%= button_to "Resize to #{image.width}*#{image.height}", :action => "do_resize", :id => image %>
    </td>
  </tr>
<% end %>
</table>
<%= link_to 'Upload Image', new_image_path %>

