<h1>Update resize width and height</h1>

<%= form_tag ({:action => 'do_resize'},:multipart => true) %>

  <%= label_tag(:width, "Width") %>
  <%= text_field_tag(:width) %>

  <%= label_tag(:height, "Height") %>
  <%= text_field_tag(:height) %>

  <%= submit_tag "Resize" %>


<p><%= link_to 'Back', images_path %></p>
