<tr>
    <th>NOTICE: The image will be resized to 100*100, if you don't input any value for it's width and height.</th>
</tr>

<%= form_for @image, :url => {:action => "do_resize"} do |f| %>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="actions">
    <%= f.submit "Resize" %>
  </div>
<% end %>

<%= link_to 'Back', images_path %>
